# Dependencies
node_modules

# Env
.env
.env.*
!.env.example

# Logs / caches
*.log*
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Yarn legacy
.pnp
.pnp.js
.yarn/install-state.gz

# Test / tooling
coverage
.turbo
.vercel

# OS
.DS_Store
.AppleDouble
.LSOverride
.directory

# IDE
.idea
*.sublime-workspace
*.sublime-project
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

# Syncthing
.stfolder
.stignore
.stversions

# Build
dist
*buildinfo
